<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SampleTsEmberImports</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css" />
    <link
      integrity=""
      rel="stylesheet"
      href="{{rootURL}}assets/sample-ts-ember-imports.css"
    />

    {{content-for "head-footer"}}

    <!-- <script>
      // ecpair is incorrect built / packaged for browsers
      // exports doesn't exist
      globalThis.exports = {};
      // global doesn't exist
      global = globalThis;
    </script> -->
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/sample-ts-ember-imports.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
