<!doctype html>
<html>
  <script>
    // Hack because ecpair is incorrectly built for crossplatform usage.
    globalThis.exports = {};
    globalThis.global = globalThis;
  </script>

  <head>
    <meta charset="utf-8" />
    <title>EmberImportEcpair</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css" />
    <link
      integrity=""
      rel="stylesheet"
      href="{{rootURL}}assets/ember-import-ecpair.css"
    />

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/ember-import-ecpair.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
