<p>Current res: {{this.res}}</p>
<button type="button" {{on "click" this.button1}}>Click Me</button>
<p>Signed: {{this.signed}}</p>
<button type="button" {{on "click" this.signMessage}}>Sign message</button>
